asgiref==3.5.2
colorama==0.4.5
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.1
django-heroku==0.3.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Pillow==9.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-decouple==3.6
pytz==2022.1
sqlparse==0.4.2
static3==0.7.0
tzdata==2022.1
whitenoise==6.2.0
