{% extends 'base.html' %}
{% load static %}


{% block bloque_contenido %}

	<h1>DETALLE NOTICIA</h1>
	<br>

	<h2>{{noticia.titulo}}</h2>
	<p>CATEGORIA: {{ noticia.categoria.nombre }}</p>
	{% if noticia.autor %}
		<p>AUTOR: {{ noticia.autor }}</p>
	{% endif %}

	<p>CUERPO: {{ noticia.cuerpo }}</p>

	{% if noticia.imagen %}
		<img src="{{ noticia.imagen.url }}" width="100px" height="100px">
	{% else %}
		<p>NO TIENE IMAGEN </p>
	{% endif %}

	<p>COMENTARIO NOTICIA</p> <!-- WIP -->
	

{% endblock bloque_contenido %}