{% extends 'base.html' %}
{% load static %}

{% block bloque_contenido %}
    <!-- aca se recibe un diccionario con las claves de las noticias -->
    <br/></br/>
    {{ noticias }}
    <br/></br/>
    Has Previous: {{ noticias.has_previous}}
    <br/>
    Has Next: {{ noticias.has_next}}
    <br/>
    Current Page: {{ noticias.number}}
    <br/>
    Number of Pages: {{ noticias.paginator.num_pages}}
    <br/>
    {% if noticias.has_previous %}
        <a href="?page=1">Primera</a>
        <a href="?page={{ noticias.previous_page_number }}"> &laquo Anterior</a>
    {% endif %}

    Página {{ noticias.number }} de {{noticias.paginator.num_pages}}

    {% if noticias.has_next %}
    <a href="?page={{ noticias.next_page_number }}">Siguiente</a>
    <a href="?page={{ noticias.paginator.num_pages }}">Última &raquo</a>
    {% endif %}

    <h2>NOTICIAS ORDENADAS FORMA INVERSA</h2>
    <br>
    <p>test dia de hoy: {% now "d-m-Y H:i hs" %} </p>

    

    {% for n in noticias %}
        
        <h2>{{ n.titulo }}</h2>
        <p>Creada: {{n.creado|date:"d m Y"}}</p> <!-- nota: no poner espacio entre date:_".." -->

{% comment %} https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ {% endcomment %}


        {% if n.autor %}
        <p>Autor: {{ n.autor }}</p>
        {% endif %}
        
        <p>Cuerpo: {{ n.cuerpo }}</p>
        
        {% if n.imagen %}
            <img src="{{n.imagen.url}}" width="350px" height="260px">
        {% else %}
            <p> NO TIENE IMAGEN </p>
        {% endif %}

        {% if n.categoria %}
            <p>Categoria: {{ n.categoria.nombre }}</p>
        {% else %}
            <p> NO TIENE CATEGORIA </p>
        {% endif %}
        <a href="{% url 'noticias:detalle_noticias' n.pk %}">VER MAS</a>
        <br>
    {% endfor %}


{% endblock bloque_contenido %}