{% extends 'base.html' %}
{% load static %}

{% block bloque_contenido %}
    <!-- aca se recibe un diccionario con las claves de las noticias -->

    <h2>NOTICIAS ACTUALES</h2>
    <br>
    {% for n in noticias %}
<p>test dia de hoy: {{n.get_dia_de_hoy}} </p> <!-- TODO : hacer en vistas -->

        <h2>{{ n.titulo }}</h2>

        {% if n.autor %}
        <p>Autor: {{ n.autor }}</p>
        {% endif %}
        
        <p>Cuerpo: {{ n.cuerpo }}</p>
        
        {% if n.imagen %}
            <img src="{{n.imagen.url}}" width="350px" height="260px">
        {% else %}
            <p> NO TIENE IMAGEN </p>
        {% endif %}

        {% if n.categoria %}
            <p>Categoria: {{ n.categoria.nombre }}</p>
        {% else %}
            <p> NO TIENE CATEGORIA </p>
        {% endif %}
        <a href="{% url 'noticias:detalle_noticias' n.pk %}">VER MAS</a>
        <br>
    {% endfor %}
    <br>
    <h2>FILTRO POR FECHA</h2> <!-- pasar con FORM  -->


    <h2>FILTRAR POR CATEGORIA</h2> <!-- no prioritario -->
    {% comment %} <form action="{% url 'APP:URL_NOMBRE' categoria_name.pk %}">  {% endcomment %}
      <!--    La idea es mandar el ID (o PK) de
        la categoria como URL  .........      wip -->
        <label for="categorias">Seleccione una categoria:</label> <br>
        <select name="categoria_name" id="categoria_id">
        {% for categoria in categorias %}
            <option value="{{categoria}}">{{categoria}}</option>
        {% endfor %}
        </select> <br>
        <input type="submit" value="Mostrar noticias para la categoria seleccionada">
    </form>    

    {% include 'ejemplo_include.html' %}
    
    <!-- <a href="{_%_ url 'home' _%_}">VOLVER AL HOME</a> -->

{% endblock bloque_contenido %}