{% extends 'index.html' %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style_noticias.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style_noticiasMODALS.css' %}" />
    {% endblock css %}

    {% block header %}
    <div class="row alignEnd">
      <div class="btn_noticias">
        <form action="">
          <label for="Noticias">Filtrar por:</label>
          <select id="noticias" name="noticias">
            <option value="volvo">Recientes</option>
            <option value="saab">Antiguos</option>
            <option value="fiat">Todo</option>
          </select>
        </form>
      </div>
    </div>
    <!-- primer bloque -->
    <div class="container">
      {% for noti in noticias %}
        <div class="card inline">
          <figure>
            {% if noti.imagen %}
              <img src="{{noti.imagen.url}}" />
            {% else %}
              <img src="{% static 'img/3dgifmaker78797.gif' %}" />
            {% endif %}
          </figure>
          <div class="contenido">
            <h3>{{noti.titulo}}</h3>
            <p>{{noti.creado}}</p>
            <p>{{noti.cuerpo|truncatechars:50|wordwrap:10}}</p>
            <a
              href="{% url 'noticias:detalle_noticias' noti.pk  %}"
              onclick="openModal('firstTitle','firstCommnet','firstImg')"
              target="_self"
              id="myBtn"
              >Leer mas...</a>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <!-- Paginacion -->
    <div class="row alignCenter">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
    <div id="displayContent"></div>

    <!-- Fin Paginacion -->
  <script src="{% static 'js/utils.js' %}"></script>
  {% endblock header %}

