{% extends 'index.html' %}
{% load static %}

  {% block css %}
  <link rel="stylesheet" href=" {% static 'css/noticias.css' %} "
  {% endblock css %}

  {% block header %}
    <!-- primer bloque -->
    <div class="container_noticias">
      <!-- primer card -->
      <div class="card inline">
        <figure>
          <img src="{% static 'img/Img1.png' %}"/>
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- segunda card -->
      <div class="card inline">
        <figure>
          <img src="{% static 'img/Img1.png' %}" />
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- tercer card -->
      <div class="card inline">
        <figure>
          <img src="{% static 'img/Img2.png' %}" />
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- cuarta card -->
      <!-- <div class="card inline">
        <figure>
          <img src="images/Img3.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>-->
    </div> 

    <!-- Paginacion -->
    <div class="row alignCenter">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
    <!-- Fin Paginacion -->
  {% endblock header %}
