{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    
    <title>FQ PAGE</title>
    <link rel="shortcut icon" href="{% static 'img/Logo-Botellas-de-Amor.png' %}" type="image/x-icon">
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&display=swap" rel="stylesheet">
    
    <!-- MAIN TITTLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    
    <!-- TEXT BELOW THE MAIN TITTLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/preguntas_frecuentes.css' %}">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" >
</head>

<body>

    <!-- PRELOADING -->
    <div class="loader">
        <img src="{% static 'img/3dgifmaker78797.gif' %}" alt="">
    </div>
    
    <!-- HEADER SECTION -->
    <header id="header">
        <div class="container__header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/Logo-Botellas-de-Amor.png' %}" alt=""></a>
            </div>
        </div>
    </header>

    <div class="container_all" id="container__all">
        <div class="cover">

            <!--INICIO WAVE-->
            

                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>

            <!--FINAL WAVE-->

            <div class="container__cover">
                <div class="container__info">
                    <h1>PREGUNTAS </h1>
                    <h2>Frecuentes</h2>
                    <p>Si tenes alguna pregunta acerca de Botellas de Amor, seguramente acá podrás encontrar respuestas. Si no es el caso, podes comunicarte con nosotras en cualquiera de nuestras redes.</p>

                </div>
                <div class="container__vector">
                    <img src="{% static 'img/images-with-logo.png' %}" alt="">
                </div>
                
            </div>
        </div><br><br>
        

    <!-- FQ SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Question One -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    ¿QUÉ APORTA AL MEDIO AMBIENTE LAS BOTELLAS DE AMOR?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Reducir la cantidad de plásticos en el ambiente. Las botellas se llenan de plástico de un solo uso, que son los que se usan una sola vez y terminan en la basura. Por ello, lo que proponemos ponerlos en las botellas y así darle un destino útil.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Two -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseTwo" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿QUÉ HACEN CON LAS BOTELLAS LLENAS DE AMOR?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Las mandamos a Buenos Aires a la Fundación “Botellas de Amor”, donde son transformadas en madera plástica.
                                    La fundación generó una alianza con “4E Madera Plástica” una empresa que utiliza los plásticos de las botellas para crear madera plástica; cada tantos kilos de plástico nos devuelven muebles, parque infantil y hasta una vivienda para ser donados.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Three -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseThree" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">
                                    ¿A DÓNDE DONAN LO CONSTRUIDO?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Nosotras todavía no lo decidimos, lo resolveremos cuando tengamos la posibilidad, de acuerdo a las necesidades y en conjunto con quiénes entreguen las botellas. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Four -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseFour" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour">
                                    ¿CUALQUIER BOTELLA DE PLÁSTICO SIRVE?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Sí, cualquier botella de plástico sirve, no importa el tamaño. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Five -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseFive" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseFive">
                                    ¿LOS PLÁSTICOS QUE PONGO EN LA BOTELLA TIENEN QUE ESTAR LIMPIOS, SECOS Y CORTADOS?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p><strong>Deben estar limpios</strong>, especialmente los plásticos que puedan generar feo olor. Con un trapo húmedo es suficiente. Recordemos cuidar el agua.</p>
                                <p>Los plásticos también <strong>deben estar secos</strong> para evitar que se generen hongos de humedad y feos olores.</p>
                                <p><strong>No es necesario que estén cortados</strong>, pero si lo cortas es más fácil ponerlos en la botella y se hace más fácil compactar.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Six -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseSix" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseSix">
                                    ¿CUÁL ES EL PROCESO DE LA BOTELLA DE AMOR? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingSix">
                            <div class="panel-body">
                                <p><strong>PASO 1:</strong> Elegí una botella de plástico vacía y limpia.</p>
                                <p><strong>PASO 2:</strong> Junta plásticos de un solo uso, los limpiamos (si es necesario) y cortamos.</p>
                                <p><strong>PASO 3:</strong> Introducí los plásticos dentro de la botella y compactalos bien.</p>
                                <p><strong>PASO 4:</strong> Llevá tu botella a los puntos de acopio, donde se juntan todas las botellas de amor.</p>
                                <p><strong>PASO 5:</strong> Una empresa se encarga de sacar los plásticos y reciclarlos.</p>
                                <p><strong>PASO 6:</strong> Los plásticos se convierten en “madera plástica” y se construyen diferentes muebles, de los cuales nos regresan un % y los donamos.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Seven -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseSeven" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿QUÉ SE PUEDE PONER DENTRO DE UNA BOTELLA DE AMOR?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <p>En las botellas de amor podés poner:</p>
                                <ul>
                                    <li>Film.</li>
                                    <li>Paquetes de productos de limpieza como el de los jabones líquidos.</li>
                                    <li>Paquetes de aceitunas, salchichas, queso rallado, etc.</li>
                                    <li>Repuestos de aderezos (savora, mayonesa, etc.) o los potes y tapas de dulces de leche, queso untable, crema de leche, etc.</li>
                                    <li>Sobres de jugo.</li>
                                    <li>Cubiertos de plástico.</li>
                                    <li>Etiquetas de botellas.</li>
                                    <li>Blísters de remedios.</li>
                                    <li>Paquetes de galletitas, pan, alfajores.</li>
                                    <li>Bolsas de plástico.</li>
                                    <li>Sachets de leche.</li>
                                    <li>Tapitas (aunque mejor si las llevas a la Fundación Ciudad Limpia que junta para el Garrahan).</li>
                                    <li>Envoltorios de golosinas (de plástico).</li>
                                    <li>Lapicera (sin el cartucho ya que la punta es de metal y sin el resorte).</li>
                                    <li>Maquinitas de afeitar (sin el filo) y cepillos de dientes.</li>
                                    <li>Broches rotos (se debe sacar el alambre).</li>
                                    <li>Potes de cremas (limpios y secos).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Question Eight -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseEight" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseEight">
                                    ¿QUÉ NO SE PUEDE PONER DENTRO DE UNA BOTELLA DE AMOR?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingEight">
                            <div class="panel-body">
                                <p>En las botellas de amor podés poner:</p>
                                <ul class="no-permitted">
                                    <li>Cartón.</li>
                                    <li>Vinilo.</li>
                                    <li>Metal.</li>
                                    <li>Globos.</li>
                                    <li>Guantes de látex.</li>
                                    <li>Aluminio de cocina.</li>
                                    <li>Esponja de cocina.</li>
                                    <li>Papel.</li>
                                    <li>Paquetes de yerba.</li>
                                    <li>Telgopor.</li>
                                    <li>Arena y tierra.</li>
                                    <li>Telas.</li>
                                </ul>
                                <p>Si metiste algo de esto, <strong>no desarmes tu botella</strong>. Simplemente la próxima no lo pongas.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Nine -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseNine" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseNine">
                                    ¿LOS ENVOLTORIOS DE MANTECA, CALDOS, CHICLES, ETC. PUEDEN IR EN LA BOTELLA?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingNine">
                            <div class="panel-body">
                                <p>En estos casos, siempre debemos fijarnos que tengan el símbolo  <i class="fa-solid fa-recycle" style="color: green;"></i> con números del 1 al 7.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Ten -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseTen" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseTen">
                                    ¿HAY UN MÍNIMO DE BOTELLAS DE AMOR QUE DEBO LLEVAR A LOS PUNTOS DE ACOPIO?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTen">
                            <div class="panel-body">
                                <p>No para nada. Además, acordate que <strong>¡No es una carrera!</strong>, tomate tu tiempo y compacta bien. Cuantas menos botellas juntes, significa que menos plásticos consumís y ese es el objetivo.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Question Eleven -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#collapseEleven" role="button" data-toggle="collapse"
                                    data-parent="#accordion" aria-expanded="false" aria-controls="collapseEleven">
                                    ¿QUÉ MÁS DEBO TENER EN CUENTA AL MOMENTO DE HACER MI BOTELLA DE AMOR?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <p>Acordate siempre que las botellas son manipuladas por personas. Respetemos a lxs recicladorxs y entreguemos los materiales en las condiciones que nos gustarían recibirlos si estuviéramos en su lugar. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>

    <!-- FOOTER -->
    <Footer>
        <div class="container__footer">

            <div class="box__footer">
                <div class="terms">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis et quasi aut facere vitae vero. Inventore, minus ab voluptate modi repellat, pariatur tempora quisquam, debitis facilis explicabo voluptatem. A.
                </div>
            </div>

            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="#">App Desarrollo</a>
                <a href="#">App Marketing</a>
                <a href="#">IOS Desarrollo</a>
                <a href="#">Android Desarrollo</a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>

        <div class="box__copyright">
            <hr>
            <p>© 2022 <b>Botellas de Amor - Resistencia</b></p>
        </div>
    </Footer>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest Compiled JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src=" {% static 'js/pre.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/accodion.js' %}"></script>
    <script src="{% static 'js/script_preguntas_frecuentes.js' %}"></script>
</body>

</html>