body {
  font-family: Geneva, Verdana, sans-serif;
}
#faces {
  height: 300px;
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.roundedImg {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.row {
  height: 300px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  align-items: center;
}
#row2 {
  height: 500px;
}
#row4 {
  height: 450px;
}

.column {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 100%;
}
p {
  margin: auto;
  text-align: center;
}
.column ul {
  margin: auto;
  padding: 0px 15%;
}
img {
  width: 100%;
  height: 100%;
}
.verticalText p {
  transform: rotate(-90deg);
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 900;
  /* margin-left: 55%; */
}
/* row1 */
#colaa {
  width: 100%;
  background-color: #e6e15a;
}
#colba {
  width: 100%;
}
/* row2 */
#colab {
  width: 25%;
  background-color: #fedb39;
}
#colab p {
  margin-left: 22%;
  font-size: 40px;
  white-space: nowrap;
}
#colbb {
  width: 50%;
}
#colbb p {
  font-size: 14px;
  padding: 20px 150px;
  text-align: start;
}
#colcb {
  width: 25%;
  background-color: #ffee63;
}
/* row3 */
#colac {
  width: 100%;
}

#colbc {
  width: 100%;
  background-color: #d3d3d3; /*cambiar color*/
}
/* row4 */
#colad {
  width: 25%;
  background-color: #fbb454;
}
#colad p {
  font-size: 28px;
  transform: rotate(-90deg);
  margin-left: 48%;
  white-space: nowrap;
  font-weight: 900;
}
#colbd {
  width: 75%;
  background-color: #d4d925;
}
