/* div {
  margin: 150px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transition: 0.3s;
}
div:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;

  box-shadow: 2px 2px 10px black;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}


.container {
  width: 100%;
  display: flex;
  max-width: 1100px;
}
.card {
  width: 100%;
  height: 250px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 100px;
}
.container {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container p {
  font-size: 12px;
  padding: 8px;
  line-height: 1.5;
  color: #6a6a6a;
}
.container h3 {
  margin-top: 8px;
  font-weight: 400;
}
.container a {
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
  margin: 10px;
  color: #7dce13;
  border: 1px solid #7dce13;
  border-radius: 4px;
  transition: all 400ms ease;
}
.container a:hover {
  background: #7dce13;
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.btn {
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
