@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

@font-face {
    font-family: Alégre Sans;
    src: url(../font/Algre-Sans/Alégre\ Sans.ttf);
}

/*Scroll*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8EBF24 #c7c7c700;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #c7c7c700;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #8EBF24;
    border-radius: 20px;
    border: 3px solid #c7c7c773;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Alégre Sans, cursive;
    text-decoration: none;
}


Header {
    width: 100%;
    background-color: #FEF201;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly  ;
    padding: 1rem;
}

/*Header Superior*/

.header__superior {
    max-width: 1200px;
    margin: 0em 6.25em;
    display: flex;
    top: 90px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    transition: all 1.1s ease;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
}

.logo:hover {
    transform: scale(1.3);
}

.logo img {
    width: 130px;
}

/*Barra Menu*/

.container__menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #8EBF24;
    padding: 0px 20px;
    border-radius: 25px;
    z-index: 100;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%    ;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

nav > ul {
    height: 100%;
    display: flex;
    margin: 0em 3.80em;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a {
    background-image: url(../img/eco-home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 35px;
}

nav > ul > li:first-child:hover > a {
    background-image: url(../img/eco-home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: black;
    text-transform: uppercase;
    font-size: 1.71875vw;
    transition: all 300ms ease;
}


nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #8EBF24;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}

#selected {
    transform: scale(1.1);
    background-color: #8EBF24;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}

.bienvenida {
    margin-left: -50px;
}
/*Sub Menu*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #FFF64A   ;
    position: absolute;
    top: 70px;
    left: -5px;
    padding: 14px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

nav ul li ul:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #FFF64A;
    position: absolute;
    top: -12px;
    left: 20px;
} 

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 1.25vw;
    text-transform: uppercase;
    transition: all 500ms ease;
}

nav ul li ul li a:hover {
    background-color: #8EBF24;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 1.25vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);

}

.btn button{
    min-height: 40px;
    background-color: #fff;
    font-size: 1.40625vw;
    font-weight: 700;
    color: black;
    padding:  9px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5 ease 0s;
}

.btn button:hover {
    background-color: #8EBF24;
    color: #0D0D0D;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}



.noticias__container {
    background-color: #FEF300;
}

.letra__container {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:  100%;
    height: 90vh;
}


/*Main*/

.main {
    width: 100%;
    height: 43.5234375vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.words1 {
    display: flex;
    flex-direction: column;
}

.words__h2 {
    font-family: 'DynaPuff', cursive;
    font-size: 9.5vw;
    padding: 20px 0;
    color: #208507;
}

.words {
    font-family: 'DynaPuff', cursive;
    font-size: 4.6875vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.words2 {
    width: 500px;
}

.words2 p {
    font-family: 'Lora', serif;
    font-size: 1.2558869701726845vw;
}

.sabias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sabias h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 9.5vw;
    color: #FEF300;
}

.body__page {
    border-radius: 10px;
    background-color: #0d0d0de1;
    overflow: hidden;
    height: 100%;
}

/*cards*/


.container__card {
    max-width: 1200px;
    padding: 20px;
    padding-top: 85px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 192px;
    position: relative;
    margin: 20px;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description {
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.card:hover .icon {
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon {
    width: 100%;
    height: 220px;
    background: #eff3f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    transition: all 400ms cubic-bezier(0.5,0,0,1 );
    border-radius: 40px;
}

.icon i {
    font-size: 100px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1 );
}

.info__description {
    width: 100%;
    height: 220px;
    color: #474747;
    background: #eff3f5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1 );
    border-radius: 20px;
}

.info__description h1{
    font-family: 'Lora', serif;
    font-size: 1.2890625vw;
    margin-top: 10px;
}

/*cards colors*/

.c1:hover .icon {
    background-color: #8EBF24;
}

.c1 .icon i {
    color: #8EBF24;
}

.c1:hover .icon i {
    color: #fff;
}

.c2:hover .icon {
    background-color: #ebe020;
}

.c2 .icon i {
    color: #ebe020;
}

.c2:hover .icon i {
    color: #fff;
}

.c3:hover .icon {
    background-color: #daa128;
}

.c3 .icon i {
    color: #daa128;
}

.c3:hover .icon i {
    color: #fff;
}

.c4:hover .icon {
    background-color: #bf4824;
}

.c4 .icon i {
    color: #bf4824;
}

.c4:hover .icon i {
    color: #fff;
}

.c5:hover .icon {
    background-color: #2481bf;
}

.c5 .icon i {
    color: #2481bf;
}

.c5:hover .icon i {
    color: #fff;
}

.emc1 {
    font-family: 'Lora', serif;
    font-size: 5.46875vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;
}

.emc2 {
    font-family: 'Lora', serif;
    font-size: 1.484375vw;
    color: #208507;
}

.emc3 {
    font-family: 'Lora', serif;
    font-size: 3.125vw;
    color: #bf4824;
}

.emc41{
    font-family: 'Lora', serif;
    font-size: 1.5625vw;
    color: black;
}
.emc4 {
    font-family: 'Lora', serif;
    font-size: 3.515625vw;
    color: #d6681e;
}

.emc5 {
    font-family: 'Lora', serif;
    font-size: 3.125vw;
    color: #d1c707d8;
}

/*Footer*/

.footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.IMG1 {
    width: 60px;
    height: auto;
    margin-top: -150px;
    margin-left: 40px;
}



.container {
    margin: 90px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container div {
    margin: 0px 100px;
}

.container div ul li {
    margin: 15px 0px;
}

.container div ul p {
    font-size: 20px;
}

.container div ul li a {
    font-size: 16px;
    color: #0d0d0de1;
}


/*Elemento Responsivos*/

.bars__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 135%;
    display: none;
}

#check__menu {
    display: none;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 6px;
    transition: all 600ms;
    transform-origin: 0px 100%;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: 30px;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

@media screen and (max-width: 720px) {

    .logo img {
        width: 140px;
    }

    .header__superior {
        margin: 0px 20px;
    }

    nav > ul {
        margin: auto;
        flex-direction: column;    
        background-color: #208507;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 300px;
        transition: all 300ms all;
        z-index: 100;
        border-radius: 25px;
        visibility: hidden;
        opacity: 0;
    }
    
    nav > ul > li > a:hover { 
        transform: scale(1);
        border-radius: 15px;
    }

    nav ul li ul {
        left:  90px;
    }

    nav ul li:hover ul{
        top: 50px;
    }

    nav ul li:first-child a {
        background-position: 20px;
    }

    #selected {
        transform: scale(1);
        border-radius: 25px;
    }

    nav > ul > li > a {
        font-size: 1.40625vw;
    }

    .bars__menu {
        display: block;
    }

    #check__menu:checked ~ nav > ul  {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
      

    .noticias__container {
        background-size: cover;
        height: 50vh;
    }

    .letra__container {
        background-size: cover;
        height: 50vh;
    }

    /**/
      
}

@media screen and (max-width: 850px) {
    .btn button {
        visibility: hidden;
    }
}

