{% extends 'base.html' %}
{% load static %}

{% block bloque_contenido %}
    <!-- aca se recibe un diccionario con las claves de las noticias -->

    <h2>EVENTOS ACTUALES</h2>
    <br>
    {% for ev in eventos %}
        <h2>Titulo: {{ ev.titulo }}</h2>
        <p>Descripcion: {{ ev.descripcion}}</p>

        <br>
        <p>Es gratuito?</p>
        {% if ev.es_gratuito %}
        <p>Es gratuito</p>
        {% else %}
        <p>No es gratuito</p>
        {% endif %}
        
        <br>
        <p>Es presencial?</p>
        {% if ev.es_presencial %}
        <p>Es presencial</p>
        {% else %}
        <p>No es presencial</p>
        {% endif %}

        <p>ubicacion: {{ev.ubicacion}}</p>

        <p>Tiene imagen?</p>
        {% if ev.imagen %}
        <img src="{{ev.imagen.url}}" width="350px" height="260px">
        {% else %}
            <p> NO TIENE IMAGEN </p>
        {% endif %}
        <a href="{% url 'eventos:detalle_eventos' ev.pk %}">VER MAS</a>
    {% endfor %}
    
    
    <!-- <a href="{_%_ url 'home' _%_}">VOLVER AL HOME</a> -->

{% endblock bloque_contenido %}