{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botella de Amor</title>
    <link rel="icon" href="{% static 'img/Logo1.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}
    
    {% endblock css %}  
    <script src="https://kit.fontawesome.com/8d53197554.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scrollreveal.js'%}"></script>    
</head>
<body>
    
    <header class="Header">
        <div class="container__menu">
            <div class="logo">
                <img src="{% static 'img/Logo-Nombre.png'%}" alt="">
            </div>
            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="label__check" for="check__menu">
                    <div class="bars__menu">
                        <span class="line1__bars-menu"></span>
                        <span class="line2__bars-menu"></span>
                        <span class="line3__bars-menu"></span>

                        <script src="{% static 'js/script.js' %}"></script>
                    </div>
                </label>

                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'home' %}" id="selected"></a></li>
                        <!--<div class="inicio_responsive">
                            {% if user.is_authenticated %}
                                <div class="cerrar_sesion">
                                    <span class="bienvenida">Bienvenido/a {{user.username}}!!</span>
                                    <a href="{% url 'logout' %}" id="selected">Cerrar Sesion</a>
                                </div>
                            {% else %}
                            <a href="{% url 'login' %}" id="selected">Iniciar Sesion</a>
                            {% endif %}
                        </div>-->
                        <li></li>
                        <li><a href="#">Sobre Nosotros</a>
                            <ul>
                                <li><a href="{% url 'sobrenosotros'%}">¿Que Hacemos?</a></li>
                                <li><a href="{% url 'preguntasFQ' %}">Preguntas Frecuentes</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'noticias:listar_noticias' %}">Noticias</a></li>
                        <li><a href="#">Contactos</a>
                            <ul>
                                <li><a href="{% url 'contactos:contactanos'%}" target="_blank">Contactanos</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Eventos</a>
                            <ul>
                                <li><a href="{% url 'calendario'%}" target="_blank">Calendario</a></li>
                                <li><a href="https://www.google.com/maps/d/u/0/viewer?mid=1QBrPiv4TC7PHydND-XuRq2vPXHZBIkAE&ll=-27.451452553253837%2C-58.982524376196295&z=14" target="_blank">Puntos de Acopio</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recursos</a></li>
                    </ul>
                    <div class="login__container">
                        {% if user.is_authenticated %}
                            <div class="cerrar_sesion">
                                <span class="bienvenida">Bienvenido/a {{user.username}}!!</span>
                                <a href="{% url 'logout' %}" class="btn1"><button>Cerrar Sesion</button></a>
                            </div>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn"><button>Iniciar Sesion</button></a>
                        {% endif %}
                    </div>
                </nav>
            </div>        
        </div>
    </header>
    {% block header %}
    <div class="noticias__container">
        <div class="letra__container"></div>
    </div>
    <main class="main">
        <div class="container_main">
            <div class="words1">
                <h1 class="words">Botella de Amor</h1>
                <h2 class="words__h2">Desplastificate</h2>
            </div>
            <div class="words2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odio doloremque eveniet nam cum ipsa culpa cumque voluptas quibusdam,<br><br>
                    maxime odit officiis ratione vero consectetur ut saepe voluptatum error doloribus eum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br>
                    Repudiandae placeat saepe reprehenderit doloribus totam libero sit autem velit deserunt quaerat, enim, fugiat, 
                    illo accusamus qui consequatur suscipit molestias. Eligendi, ut.</p>                
            </div>
        </div>
    </main>

    
    
    <div class="body__page">
        <div class="sabias">
            <h1>¿SABIAS QUE?</h1>
        </div>
        <div class="container__card">

            <div class="card c1">

                <div class="icon">
                    <i class="fa-solid fa-percent percent"></i>
                </div>

                <div class="info__description">
                    <h1><em class="emc1">10%</em><br> de la contaminación en el mundo es por el plástico</h1>
                </div>

            </div>

            <div class="card c2">

                <div class="icon">
                    <div class="icon2">
                        <i class="fa-solid fa-radiation"></i>
                    </div>
                </div>

                <div class="info__description">
                    <h1>La contaminación por <em class="emc2">RESIDUOS PLASTICOS</em> <br>
                    es uno de los principales problemas del ambiente </h1>
                </div>

            </div>

            <div class="card c3">

                <div class="icon">
                    <div class="icon3">
                        <i class="fa-brands fa-hotjar"></i>
                    </div>
                </div>

                <div class="info__description">
                    <h1>El plástico tarda al menos <em class="emc3">150 años</em> <br> en descomponerse</h1>
                </div>

                

            </div>

            <div class="card c4">

                <div class="icon">
                    <div class="icon3">
                        <i class="fa-solid fa-face-sad-tear"></i>   
                    </div>
                </div>

                <div class="info__description">
                    <h1><em class="emc41">Al año, cerca de </em> <em class="emc4">100 mil</em> especies mueren  por el plástico</h1>
                </div>

                

            </div>

            <div class="card c5">

                <div class="icon">
                    <div class="icon3">
                        <i class="fa-solid fa-water"></i>
                    </div>
                </div>

                <div class="info__description">
                    <h1><em class="emc5">13 millones</em> de toneladas de plástico terminan en el oceano</h1>
                </div>

                

            </div>

        </div>

    </div>
    {% endblock header %}


    <footer class="footer">
        <div class="container_footer">
            <div class="row_footer">
                <div class="footer-col">
                    <h4>Sobre Nosotros</h4>
                    <ul>
                        <li><a href="{% url 'sobrenosotros'%}">¿Que Hacemos?</a></li>
                        <li><a href="{% url 'preguntasFQ' %}">Preguntas Frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Noticias</h4>
                    <ul>
                        <li><a href="{% url 'noticias:listar_noticias' %}">Noticias</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Eventos</h4>
                    <ul>
                        <li><a href="{% url 'calendario'%}" target="_blank">Calendario</a></li>
                        <li><a href="https://www.google.com/maps/d/u/0/viewer?mid=1QBrPiv4TC7PHydND-XuRq2vPXHZBIkAE&ll=-27.451452553253837%2C-58.982524376196295&z=14" target="_blank">Puntos de Acopio</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactos</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/botelladeamorresistencia/" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/botelladeamorresistencia/?hl=es"target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
                    </div>                    
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/index.js'%}"></script>
    
</body>
</html>