{% extends 'index.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/noticias.css' %}"> 

{% endblock css %}

{% block header %}
 
  
    
    <div class="btn">
      <form action="">
        <label for="Noticias">Filtrar por:</label>
        <select id="noticias" name="noticias">
          <option value="volvo">Precio</option>
          <option value="saab">Cantidad</option>
          <option value="fiat">Fecha</option>
        </select>
      </form>
    </div>
    <!-- primer bloque -->
    <div class="container">
      <!-- primer card -->
      <div class="card">
        <figure>
          <img src="Img1.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- segunda card -->
      <div class="card">
        <figure>
          <img src="Img2.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- tercer card -->
      <div class="card">
        <figure>
          <img src="Img3.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- cuarta card -->
      <div class="card">
        <figure>
          <img src="Img3.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
    </div>
    <!-- segundo bloque -->
    <div class="container">
      <!-- primer card -->
      <div class="card">
        <figure>
          <img src="Img1.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- segunda card -->
      <div class="card">
        <figure>
          <img src="Img2.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- tercer card -->
      <div class="card">
        <figure>
          <img src="Img3.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
      <!-- cuarta card -->
      <div class="card">
        <figure>
          <img src="Img3.png" />
        </figure>
        <div class="contenido">
          <h3>Noticia 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            aspernatur ...
          </p>
          <a href="#">Leer mas...</a>
        </div>
      </div>
    </div>
    <!-- Paginacion -->
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>

      <a href="#">&raquo;</a>
    </div>
    <!-- Fin Paginacion -->
    {% endblock header %}