<!-- WIP -->

<form action="{% url 'contactos:enviar_contacto' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>
                CONTACTANOS
            </h1>
        </legend>

        <label for="nombre">Nombre:</label><br>
        <input type="text" id="contacto_nombre_id" name="contacto_nombre_name" 
            value="Ingresa tu nombre">
        <br>

        <label for="email">Email:</label><br>
        <input type="text" id="contacto_email_id" name="contacto_email_name" 
            value="Ingresa tu email">
        <br>

        <label for="telefono">Telefono:</label><br>
        <input type="text" id="contacto_telefono_id" name="contacto_telefono_name" 
            value="Ingresa tu telefono">
        <br>

        <label for="mensaje">Mensaje:</label><br>
        <input type="text" id="contacto_mensaje_id" name="contacto_mensaje_name" 
            value="Ingresa tu mensaje">
    </fieldset>
    <input type="submit" value="ENVIAR CONSULTA">
</form>

    <!-- PENDIENTE ENVIAR LA INFO A LA VISTA, enviar email -->